<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phoning - Berhasil!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/co.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- Include Navbar -->
    <%- include('partials/navbar') %>

    <div class="payment-container">
      <div class="popup" id="popup">
        <img
          src="<%= userData.img ? '/' + userData.img : '/img/boci.png' %>"
          alt="Profile Image"
        />
        <h2>Selamat!</h2>
        <p>Barang kamu sudah dimasukkan ke keranjang</p>
        <a href="/cart"> <button type="button">Lihat Keranjang</button></a>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Include Bootstrap JS dan script lainnya -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
